{% extends 'base.html' %}

{% block extra_static %}
<style type="text/css">
  .singleClass{
font-size:10px;
text-color:#f20909;
  }
</style>
{% endblock %}

{% block title %}
Kitap Ekle
{% endblock %}

{% block content %}
<form method="POST">
  {% csrf_token %}
  <div class="form-group">
    <label >Kitap Adı</label>
    <input type="text" class="form-control" name="book_name" aria-describedby="emailHelp">
  </div>

      <div class="form-group">
    <label class="singleClass" >Yazarı</label>
    <input type="text" class="form-control" name="book_author" aria-describedby="emailHelp">
  </div>
      <div class="form-group">
    <label >Sayfa Sayısı</label>
    <input type="text" class="form-control" name="page_number" aria-describedby="emailHelp">
  </div>

      <div class="form-group">
    <label >Açıklama</label>
    <input type="text" class="form-control" name="description" aria-describedby="emailHelp">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}